<h1>Ourlife</h1>

<% if !user_signed_in? %>
<%= link_to "Create account", 'signup' %> <%= link_to "Login", 'login' %>

<!-- What -->
<h2>Privately share family moments.</h2>
<p>A small network just for close family and friends.</p>

<!-- Why -->
<h2>Stay in touch with the people who matter.</h2>
<p>The most important people to you are not always nearby, bring them closer.</p>

<!-- How -->
<h2>Keep what's private, private.</h2>
<p>Only share moments with the people you choose to.</p>
<% end %>

<% if user_signed_in? %>
<%= link_to "Log out", 'signout', :method => :delete %>
<% end %>
